@{
    ViewData["Title"] = "Gracias";
}
<div class="main-container">
   
    <div id="gratitude-section" class="form-container-gratitude">
        <h2 class="Gratitude">GRACIAS</h2>
        <h3 class="GratitudeText">La requisición se ha guardado con éxito</h3>
        <div class="gratitude-buttons">
            <a href="Requisition" class="btn-gratitude-left">Ingresar una nueva requisición</a>
            <a href="DataManagement" class="btn-gratitude-right">Administrar las requisiciones</a>
        </div>
    </div>
</div>

