@{
    ViewData["Title"] = "Registro de Requisiciones";
}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div id="login-section" class="form-container">
    <h2>Iniciar Sesión</h2>
    <form action="/Home/Login" method="POST">
        <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Ingresar</button>
    </form>
    @if (!string.IsNullOrEmpty((string)TempData["Error"]))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
</div>
