@{
    ViewData["Title"] = "Registro de Requisiciones";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
</head>
 <body>

    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>




     </body>