
<img src="/images/logo.png" class="logo_farmandina_requisition" alt="">
<form action="/Home/SendingData" method="POST">
    <form class="row g-3">
        <div class="col-6">
            <label for="Solicitante" class="form-label-Requisition">Solicitante</label>
            <select id="Solicitante" class="form-select" name="ApplicantId">
            <option selected>Choose...</option>
            <option>...</option>
            </select>
            </div>

        <div class="col-6" >
            <label for="responsable" class="form-label-Requisition">Responsable</label>
            <select id="responsable" class="form-select" name="ResponsibleId">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>

        <div class="col-6">
            <label for="Articulo" class="form-label-Requisition">Articulo</label>
            <input type="text" class="form-control" id="articulo" name="Article">

        </div>

        <div class="col-12">
            <label for="TipoDeEquipo" class="form-label-Requisition">Tipo de equipo </label>
            <input type="text" class="form-control" id="TipoDeEquipo" name="TypeOfEquipment
">
        </div>
        <div class="col-12">
            <label for="Marca" class="form-label-Requisition">Marca</label>
            <input type="text" class="form-control" id="Marca" name="model">
        </div>
        <div class="col">
            <label for="NumerodeSerie" class="form-label-Requisition">Numero de serie</label>
            <input type="text" class="form-control" id="NumeroDeSerie" name="SerialNumber">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</form>
