<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Scripts", required: false)
</head>
<body>
    <a asp-controller="Home" asp-action="Privacy">
        <img src="~/images/logo.png" alt="Logo" class="logo_farmandina" style="cursor:pointer;" />
    </a>

            @RenderBody()
   
</body>

   
</html>
